* {
    background-color: rgb(238, 175, 233);
}


#categoriasContainer {
    border-radius: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
 height: 150px;
 width: 12%;
  padding-left: 5px;
 padding-right: 5px;
 text-align: center;
 
}

#productosContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productosSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.productos__Image {
    width: 150px;
    height: 150px; 
    background-position:center;
    background-size: 150px 150px;

}



.section__image__button {
    background-repeat:no-repeat;
    background-position:center;
    width: 50px;
     height: 50px; 
     background-position:center;
     background-size: 50px 50px;

    border-radius: 15px;
    object-fit:fill;
}

.modalContainer {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    background-color: rgba(26, 27, 21, 0.7);
}

.mostrar {
    display: block;
    opacity: 1;
}

#detalleContainer {
    background-color: aquamarine;
    margin: 15% auto;
    width: 70%;
    padding: 30px;
}

#listImagen {
    display: flex;
    flex-direction: row;
}

.altImagen{
    width: 100px;
}

.modalCarrito {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    background-color: rgba(26, 27, 21, 0.7);
}

.mostrarCarrito {
    display: block;
    opacity: 1;
}

#carritoContainer {
    background-color: aquamarine;
    margin: 15% auto;
    width: 70%;
    padding: 30px;
}