.modalContainer {
    display: flex;
    background-color: rgba(231, 248, 79, 0.3);
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    opacity: 0;
    

}

.mostrar {
    opacity: 1;
}

#modal {
    background-color: aquamarine;
    width: 600px;
    max-width: 80%;
    height: 260px;
    padding: 30px 50px;
}