* {
  background-color: transparent;
}
/* HEADER */
#header {
  display: flex;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 100000;
}

a {
  text-decoration: purple;

}

.hero {
  margin-top: 3%;
}

.hero-img {
  display: inline-block;
  width: 100%;
}

.marca {
  display: flex;
  position: absolute;
  height: 400px;
  width: 50%;
  background-color: black;
  opacity: 0.3;
  z-index: 1000;
}

#mainTitle {
  display: block;
  position: absolute;
  width: 50%;
  height: 400px;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-top: 120px;
}

#categoriasContainer {
  border-radius: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#sectionNewsletter {

  background-color: rgb(248, 179, 191);
}

#sectionNewsletter input {
  border: 1px solid black;
}

#newsletter-form {
  background-color: transparent;
}

#imagenContacto {
position: absolute;
margin-left: 0;
height: 100%;
width: auto;
object-fit: cover;
opacity: .5;

}

#contactoContainer {
  width: 100%;
  display: block;
  border: 1px solid black;
}

.section {
  height: 150px;
  width: 22%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 60px;
  text-align: center;
}

#productosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#sectionProductos {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.productosSection {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  margin: 1%;
  padding: 2%;
  flex-wrap: wrap;
  height: 250px;
  width: 18%;
  text-align: center;
  border: solid 1px black;
  border-radius: 5px;
}

.productos__Image {
  width: 100px;
  height: 100px;
  align-self: center;
  background-position: center;
  background-size: 120px 120px;
  border-radius: 10%;
}

.productosTitulo {
  font-size: 1.3rem;
}

.productosDescripcion {
  font-size: 0.9rem;
  display: none;
}

.section__image__button {
  background: url(../images/eclipseSmall.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 15px;
  object-fit: fill;
}

#listImagen {
  display: none;
  flex-direction: row;
}

.altImagen {
  width: 100px;
}

.modalCarrito,
.modalDetalle,
.modalFormulario {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  background-color: rgba(26, 27, 21, 0.7);
}

.mostrarCarrito,
.mostrar,
.mostrarFormulario {
  display: block;
  opacity: 1;
}

#detalleContainer,
#contact-form,
#carritoContainer {
  background-color: aquamarine;
  height: 75%;
  margin: 30px auto;
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 35px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 35px;
}

.detalleSection {
  height: 90%;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border-top-left-radius: 35px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.detalleImagen {
  height: 50%;
  width: auto;
  align-self: center;
  border-radius: 15px;
}

.detalleDescripcion {
  width: 80%;
  text-align: center;
}

.detalleBtn {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-evenly;
}

.detalleBtn button {
  width: 40%;
  padding: 5px 40px;
  background-color: blueviolet;
  border-radius: 5px;
}
.botonCarrito {
  width: 30%;
  padding: 5px 20px;
  background-color: blueviolet;
  border-radius: 5px;
}

#botoneraCarrito {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

p {
  color: rgba(26, 27, 21, 0.7) !important;
}

#shoppingBagIcon {
  width: 30px;
  height: 30px;
}

#cartItems {
  display: inline-flex;
  margin-left: -10px;
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

#cartItems:hover {
  cursor: pointer;
}

#imageLoaderContainer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.productos__Image {
  background: url(../images/heart.gif) center no-repeat;
}

#arrowUp {
  position: fixed;
  left: 3%;
  bottom: 7%;
  background-color: transparent;
}

.section_p {
  padding: 15px 0 35px 0;
}

#loadProductosBtn {
  width: 25%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

#sectionCategorias {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carritoTable {
  width: 100% !important;
}

#items {
  text-align: center;
}

#carritoContainer {
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.borrarBtn {
  display: inline-flex;
  margin-left: -10px;
  background-color: red;
  height: 25px;
  width: 25px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
}

#contact-form {
  height: 70%;
  margin: 30px auto;
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 35px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 35px;
}

.formParts {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.labels {
  width: 30%;
}

#submitForm {
  display: flex;
  justify-content: space-evenly;
}

.formBtn {
  width: 20%;
  padding: 5px;
}

#textoForm {
  width: 70%;
  height: 100%;
}

#messageForm {
  height: 150px;
}

.formImputs {
  width: 70%;
}
#footer {
  width: 100%;
  padding: 5px;
  margin-left: 0;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(248, 179, 191);
  flex-direction: row;
  justify-content: center;
}

#footer a {
  text-decoration: none;
  
}

#redesLink {
  display: flex;
  width: 30%;
  justify-content: space-between;
  background-color: none;
}
.redesImg {
  height: 30px;
  width: auto;
}
