* {
  background-color: transparent;
}
/* HEADER */
#header {
  display: flex;
  position: sticky !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10000;
}

a {
  text-decoration: purple;
}

.hero {
  position: relative;
}

.hero .hero-img {
  width: 100%;
  height: 100%;
  display: block;
  height: auto;

  object-fit: contain;
  object-position: center;
}

.marca {
  display: flex;
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #111;
  opacity: 0.3;
  z-index: 1000;
}

#mainTitle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  color: #f2d5c6;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  z-index: 1000;
}

#sectionNewsletter {
  background-color: rgb(248, 179, 191);
}

#sectionNewsletter input {
  border: 1px solid black;
}

#newsletter-form {
  background-color: transparent;
}

#imagenContacto {
  position: absolute;
  width: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.4;
}

#contactoContainer {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-image: url('../images/BBA6E6B1-5DA0-40AB-8EC2-31CDA880FE18 1.png');
  background-size: cover;
  background-position: center;
  padding: 3rem 0;
  backdrop-filter: contrast(40%);
}

.redes {
  display: flex;
}

#sectionContacto {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

/* Categorias ------------------ */

#categoriasContainer {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  border: 1px solid black;
  max-width: 250px;
}

.category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
}

.categoryP {
  height: 40px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

#loadProductosBtn {
  border: none;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 30px;
}

#productosContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  place-content: center;
  gap: 1rem;
  padding: 1rem;
}

#sectionProductos {
  margin: auto;
}

.productosSection {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: auto;
}

.productos__Image {
  width: 100%;
  height: 100%;
  align-self: center;
}

.productosTitulo {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
}

.productosDescripcion {
  font-size: 0.9rem;
  text-align: center;
}

#sectionNosotros,
#sectionContacto,
#sectionComprar {
  padding-top: 90px;
}

.section__image__button {
  background: url(../images/eclipseSmall.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 15px;
  object-fit: fill;
}

#listImagen {
  display: none;
  flex-direction: row;
}

.altImagen {
  width: 100px;
}

.modalCarrito,
.modalDetalle,
.modalFormulario {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  background-color: rgba(26, 27, 21, 0.7);
}

.mostrarCarrito,
.mostrar,
.mostrarFormulario {
  display: block;
  opacity: 1;
}

#detalleContainer,
#contact-form,
#carritoContainer {
  background-color: aquamarine;
  height: 75%;
  margin: 120px auto;
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 35px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 35px;
}

.detalleSection {
  height: 90%;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border-top-left-radius: 35px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.detalleImagen {
  height: 60%;
  width: auto;
  align-self: center;
  border-radius: 15px;
}

.detalleDescripcion {
  width: 80%;
  text-align: center;
}

.detalleBtn {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-evenly;
}

.detalleBtn button {
  width: 40%;
  padding: 5px 40px;
  background-color: blueviolet;
  border-radius: 5px;
}
.botonCarrito {
  width: 30%;
  padding: 5px 20px;
  background-color: blueviolet;
  border-radius: 5px;
}

#botoneraCarrito {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

p {
  color: rgba(26, 27, 21, 0.7) !important;
}

#shoppingBagIcon {
  width: 30px;
  height: 30px;
}

#cartItems {
  display: inline-flex;
  margin-left: -10px;
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

#cartItems:hover {
  cursor: pointer;
}

#imageLoaderContainer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.productos__Image {
  background: url(../images/heart.gif) center no-repeat;
}

#arrowUp {
  position: fixed;
  left: 3%;
  bottom: 7%;
  background-color: transparent;
}

.section_p {
  padding: 15px 0 35px 0;
}

#sectionCategorias {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carritoTable {
  width: 100% !important;
}

#items {
  text-align: center;
}

#carritoContainer {
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.borrarBtn {
  display: inline-flex;
  margin-left: -10px;
  background-color: red;
  height: 25px;
  width: 25px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
}

#contact-form {
  height: 70%;
  margin: 120px auto;
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 35px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 35px;
}

.formParts {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.labels {
  width: 30%;
}

#submitForm {
  display: flex;
  justify-content: space-evenly;
}

.formBtn {
  width: 20%;
  padding: 5px;
}

#textoForm {
  width: 70%;
  height: 100%;
}

#messageForm {
  height: 150px;
}

.formImputs {
  width: 70%;
}
#footer {
  width: 100%;
  padding: 5px;
  margin-left: 0;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(248, 179, 191);
  flex-direction: row;
  justify-content: center;
}

#footer a {
  text-decoration: none;
}

#redesLink {
  display: flex;
  width: 30%;
  justify-content: space-between;
  background-color: none;
}
.redesImg {
  height: 30px;
  width: auto;
}
