* {
  /* background-color: rgb(238, 175, 233); */
}

#categoriasContainer {
  border-radius: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  height: 150px;
  width: 12%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

#productosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productosSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.productos__Image {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: 150px 150px;
}

.section__image__button {
  background: url(../images/eclipseSmall.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 50px 50px;

  border-radius: 15px;
  object-fit: fill;
}

#listImagen {
  display: flex;
  flex-direction: row;
}

.altImagen {
  width: 100px;
}

.modalCarrito,
.modalDetalle,
.modalFormulario {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  background-color: rgba(26, 27, 21, 0.7);
}

.mostrarCarrito,
.mostrar,
.mostrarFormulario {
  display: block;
  opacity: 1;
}

#detalleContainer,
#contact-form,
#carritoContainer {
  background-color: aquamarine;
  margin: 30px auto;
  width: 70%;
  padding: 30px;
}

p {
  color: rgba(26, 27, 21, 0.7) !important;
}

#shoppingBagIcon {
  width: 30px;
  height: 30px;
}

#cartItems {
  display: inline-flex;
  margin-left: -10px;
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

#cartItems:hover {
  cursor: pointer;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

#imageLoaderContainer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.productos__Image {
  background: url(../images/heart.gif) center no-repeat;
}

/* .section__image__button {
   

} */
